eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    hostname: localhost

microservice:
  payment-server:
    endpoints:
      endpoint:
        uri: http://PAYMENT-SERVICE/payment/doPayments
  order-server:
    endpoints:
      endpoint:
        uri: http://ORDER-SERVICE/order/orderbooks
